@font-face{
    src:url("Fonts/Montserrat.ttf");
    font-family: Montserrat;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, serif;
}

html
{
    scroll-behavior: smooth;
}



/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.first
{
    height: 100vh; 
    display: grid;
    grid-template-columns:repeat(10,1fr); 
    grid-template-rows: 10vh;
}

.header
{
    background: #F38C10;
    grid-column: 1/7;
    overflow: hidden;
}

.header h1
{
    padding: 15px;
    color: white;
    letter-spacing: 3px;
}

.header span
{
    color: #16317C;
}

.white
{
    grid-column: 7/11;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 10vh;
}

.white .navv
{
    grid-column: 1/4;
    overflow: hidden;
}

.menu ul
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.menu li
{
    list-style-type: none;
    display: inline-block;
    padding: 23px;
    font-size: 16px;
    letter-spacing: 0.12em;
    position: relative;
    color: #F38C10;
}

.menu li::after
        {
            content: "";
            position: absolute;
            background-color:#F38C10 ;
            height: 4px;
            width: 0;
            left: 0;
            bottom: -4px;
            transition: 0.5s;

        }

.menu li:hover::after
{
    width: 100%;
}
       

.white .picture
{
    grid-column: 1/4;
    grid-row: 2/4;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
}

.picture .picture1
{
    background: #16317C;
    border-radius: 27px;
    justify-self: center;
    animation: wholebox 2s forwards;
}

.white .smicon
{

    grid-column: 1/4;
    grid-row: 4/7;
    overflow: hidden;
}

.smicon ul
{
    margin-left: 110px;
}

.smicon li
{
    list-style-type: none;
    display: inline-block;
    padding: 30px;
    color: #16317C;
    animation: wholebox 2s forwards;
}


.yellow
{
    background: #F38C10;
    grid-row: 2/3;
    grid-column: 1/7;
}

.yellow h3
{
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 170px;
    animation: wholebox 2s forwards;
}

.yellow h1
{
    color: #16317C;
    font-size: 3.5em;
    text-align: center;
    animation: wholebox 2s forwards;
}

.yellow p
{
    color: white;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 10px;
    line-height: 1.5em;
    animation: wholebox 2s forwards;
}

.yellow div{
    background: #16317C;
    width: 170px;
    height: 60px;
    color: white;
    padding:20px;
    text-align: center;
    margin: 30px auto;
    animation: wholebox 2s forwards;
}

/* Basic Intro Animation */

@keyframes wholebox {
    0%
    {
        transform: translateY(90px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0px);
    }
}















/* second(detailed-Intro) */

.second
{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow: hidden;
}


.secondd
{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:60% 40%;

}

.second1
{
    text-align: left;
    line-height: 1.7em;
    margin: 15vh;
    overflow: hidden;
}

.second1 h1
{
    padding: 30px;
    text-align: center;
    padding-top: 100px;
}

.second1 .button
{
    height: 60px;
    width: 170px;
    background: #F38C10;
    text-align: center;
    padding: 15px;
    margin:20px;
    margin-left: 0;
}

.second2
{
    background: #16317C;
 
}



/* projects */

.project
{
    height: 100vh;
    width: 100%;
    /* background: url(https://wallpaperaccess.com/full/133891.jpg); */
    color: white;
    background: #F38C10;
}

.project h1
{
    color: #16317C;
    padding: 15px;
    text-align: center;
    size: 2em;
}

.projectt
{
    width: 90%;
    height: 70%;
    /* background: darkgreen; */
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:35px;
    overflow: hidden;
    margin-top: 3%;
}

.project1
{
    /* background: #16317C; */
    background: url(https://wallpaperaccess.com/full/133891.jpg);
    border-radius: 25px;
    overflow: hidden;
    width: 90%;
}

.project11
{
    width: 100%;
    height: 50%;
    background: url(https://images.unsplash.com/photo-1574375927938-d5a98e8ffe85?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bmV0ZmxpeHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80) no-repeat;
    background-position: center;
    overflow: hidden;
    transition: transform 500ms ease;
}

.project11:hover,
.project21:hover,
.project31:hover
{
    transform: scale(1.12);
}

.project12
{
    text-align: center;
    transition: transform 500ms ease;
    /* background: url(https://wallpaperaccess.com/full/133891.jpg); */
}

.project12 p
{
    line-height: 1.6;
    color: white;
}

.project12 button
{
    background:#F38C10;
    color: white;
    margin: 10px;
    padding: 5px;
    border: none;
    width: 150px;
    height: 60px;
}

.project2
{
    background: url(https://wallpaperaccess.com/full/133891.jpg);
    border-radius: 20px;
    overflow: hidden;
    width: 90%;
}

.project21
{
    width: 100%;
    height: 50%;
    background:url(Employee\ Payroll.png) no-repeat;
    background-position: center;
    overflow: hidden;
    transition: transform 500ms ease;
}

.project22
{
    
    width: 100%;
    height: 50%;
}

.project3
{
    background: url(https://wallpaperaccess.com/full/133891.jpg);
    border-radius: 20px;
    overflow: hidden;
    width: 90%;
}

.project31
{
    height: 50%;
    width: 100%;
    background:url(https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    overflow: hidden;
    transition: transform 500ms ease;
}

.project32
{
    width: 100%;
    height: 50%;
}


/* work */

.work
{
    height: 90vh;
    width: 100%;
    /* background: red; */
    overflow: hidden;
}

.work h1
{
    text-align: center;
    padding-top: 15px;
    color: #16317C;
}

.work1
{
    /* background: chartreuse; */
    width: 100%;
    height: 90%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* .work11
{
    background: chocolate;
} */

.work111
{
    height: 75%;
    width: 60%;
    /* background: seagreen; */
    margin:0 auto;
    margin-top: 75px;
    border-radius: 10px;
    color: #16317C;
    font-style: bold;
    /* background-image: url(https://wallpaperaccess.com/full/133891.jpg); */
    background: #F38C10;
    padding: 17rem 0 0;
    line-height: 2.2;
    overflow: hidden;
    transition: transform 500ms ease;
}

.work111-body
{
    color: white;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 10px;
}


.work111:hover
{
    transform: scale(1.05);
}

.work111-content
{
    --padding:1.6rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
    transform: translateY(56%);
    transition: transform 500ms ease;
}

.work111-content > *:not(.work111-title)
{
    opacity: 0;
    transition: opacity 500ms ease;
}

.work111:hover .work111-content
{
    transform: translateY(0);
}

.work111:hover .work111-content>*:not(.work111-title)
{
    opacity: 1;
}

.work111-title
{
    position: relative;
    width: max-content;
}

.work111-title::after
{
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + var(--padding));
    background: #16317C;
    left:calc(var(--padding)*-1) ;
    bottom: 0;
    transform-origin: left;
    transform: scale(0);
    transition: transform 500ms ease;
}

.work111:hover .work111-title::after
{
    transform: scale(1);
}

.work111-content .button
{
    text-decoration: none;
    background: #F38C10;
    color: white;
    padding: 10px;
    margin-top: 15px;
}

.work111-content .button:hover,
.work111-content .button:focus
{
    background: #ec9934;
}

/* .work122
{
    height: 90%;
    width: 60%;
    background: seagreen;
    margin:0 auto;
    border-radius: 10px;
} */

/* contact */

.contact
{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: white;
    background: #F38C10;
}

.contactt
{
    background: #16317C;
    height: 94vh;
    width: 98%;
    margin: 3vh auto;
    border-radius: 30px;
}

.contactt h1
{
    text-align: center;
    padding-top: 50px;
    animation: wholebox 2s forwards;
}

.contact1
{
    text-align: center;
    margin-top: 5vh;
    animation: wholebox 2s forwards;
}

.contact1 li
{
    list-style-type: none;
    display: inline-block;
}

.contact1 li div
{
    width: 150px;
    height: 78px;
    border-radius: 12px;
    padding:7px;
}

.contact1 li div:hover
{
    /* background: url(https://wallpaperaccess.com/full/133891.jpg); */
    background: #F38C10;
}

.contact2
{
    height: 60vh;
    width: 35%;
    /* background: url(https://wallpaperaccess.com/full/133891.jpg); */
    margin:5vh auto;
    border-radius: 12px;
    animation: wholebox 2s forwards;
    background: white;
}

.contact2 h2
{
    color: black;
    padding-left: 20px;
    padding-top: 7px;
}

form
{
    margin-top: 20px;
    width: 90%;
}

label
{
    color: black;
    padding-left: 20px;
}

input
{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
    padding: 5px;
}

.input3
{
    width: 100%;
    height: 15vh;
}

.submit
{
    /* margin:20px auto; */
    width: 160px;
    height: 60px;
    margin-top: 20px;
    margin-left: 180px;
    background: #F38C10;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 1em;
}






/* loader */
.loader{
    width: 100%;
    height: 100vh;
    z-index: 100;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader span{
    padding: 8px;
    background-color: #fff;
}

#root{
    display: none;
}