:root {
  --first-color: #c6106b;
  --second-color: #940da0;
  --third-color: #fbf4f7;
}

@font-face {
  src: url("Fonts/Montserrat.ttf");
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, serif;
}

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #940da0;
}
::-webkit-scrollbar-thumb:hover {
  background: #940da0;
}

.first {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 10vh;
}

.header {
  background: var(--third-color);
  grid-column: 1/7;
  overflow: hidden;
}

.header h1 {
  padding: 15px;
  color: var(--second-color);
  letter-spacing: 3px;
}

.header span {
  color: var(--first-color);
  font-size: 1.2em;
}

.white {
  grid-column: 7/11;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10vh;
  background: var(--first-color);
}

.white .navv {
  grid-column: 1/4;
  overflow: hidden;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.menu li {
  list-style-type: none;
  display: inline-block;
  padding: 23px;
  font-size: 16px;
  letter-spacing: 0.12em;
  position: relative;
  color: var(--third-color);
}

.menu a {
  text-decoration: none;
  color: var(--third-color);
}

.menu li::after {
  content: "";
  position: absolute;
  background-color: var(--third-color);
  height: 4px;
  width: 0;
  left: 0;
  bottom: -4px;
  transition: 0.5s;
}

.menu li:hover::after {
  width: 100%;
}

.white .picture {
  grid-column: 1/4;
  grid-row: 2/4;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
}

.picture .picture1 {
  background: var(--third-color);
  border-radius: 27px;
  justify-self: center;
  animation: wholebox 2s forwards;
}

.white .smicon {
  grid-column: 1/4;
  grid-row: 3/7;
  overflow: hidden;
  justify-self: center;
  align-self: center;
}

.smicon li {
  list-style-type: none;
  display: inline-block;
  padding: 30px;
  color: var(--third-color);
  animation: wholebox 2s forwards;
}

.smicon a {
  text-decoration: none;
  color: var(--third-color);
}

.yellow {
  background: var(--third-color);
  grid-row: 2/3;
  grid-column: 1/7;
}

.yellow h3 {
  color: var(--second-color);
  font-size: 2em;
  text-align: center;
  margin-top: 170px;
  animation: wholebox 2s forwards;
}

.yellow h1 {
  color: var(--first-color);
  font-size: 3.5em;
  text-align: center;
  animation: wholebox 2s forwards;
}

.yellow p {
  color: var(--second-color);
  text-align: center;
  letter-spacing: 1px;
  margin-top: 10px;
  line-height: 1.5em;
  animation: wholebox 2s forwards;
}

.yellow div {
  background: var(--second-color);
  width: 170px;
  height: 60px;
  color: var(--third-color);
  padding: 20px;
  text-align: center;
  margin: 30px auto;
  animation: wholebox 2s forwards;
}

/* Basic Intro Animation */

@keyframes wholebox {
  0% {
    transform: translateY(90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}

/* second(detailed-Intro) */

.second {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow: hidden;
}

.secondd {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  background: var(--first-color);
}

.second1 {
  text-align: left;
  line-height: 1.7em;
  margin: 15vh;
  overflow: hidden;
  transform: translateY(50%) scale(0.1);
  opacity: 0.1;
  transition: all 2s ease-in-out;
  color: var(--third-color);
}

.reveal-content {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.second1 h1 {
  padding: 30px;
  text-align: center;
  padding-top: 100px;
  color: var(--third-color);
}

.second1 .button {
  height: 60px;
  width: 170px;
  background: var(--second-color);
  text-align: center;
  padding: 15px;
  margin: 20px;
  margin-left: 0;
  color: var(--third-color);
}

.second1 .button a {
  text-decoration: none;
  color: var(--third-color);
}

.second2 {
  background: var(--third-color);
}

.second2 h1 {
  text-align: center;
  padding: 20px;
  color: var(--first-color);
}

.second2 li {
  list-style-type: none;
}

.second2 .pl {
  height: 30%;
  width: 100%;
}
.second2 .pl ul {
  margin-top: 30px;
}
.second2 h2 {
  padding: 15px;
  color: var(--first-color);
}
.second2 li {
  padding: 15px;
  background: var(--second-color);
  width: 170px;
  height: 50px;
  margin: 15px;
  display: inline-block;
  /* border-radius: 15px; */
  text-align: center;
  color: var(--third-color);
}
.second2 .fw {
  height: 15%;
  width: 100%;
}
.second2 .db {
  height: 15%;
  width: 100%;
}
.second2 .itc {
  height: 25%;
  width: 100%;
}

/* projects */

.project {
  height: 90vh;
  width: 100%;
  background: var(--second-color);
  overflow: hidden;
}

.project h1 {
  color: var(--third-color);
  padding: 13px;
  text-align: center;
  margin: 30px;
}

.project-grid {
  height: 75vh;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  grid-gap: 45px;
}

.project-one {
  height: 80%;
  border-radius: 20px;
  background: var(--third-color);
  transition: transform 2s ease;
  overflow: hidden;
}
.project-two {
  background: var(--third-color);
  height: 80%;
  border-radius: 20px;
  transition: transform 2s ease;
  overflow: hidden;
}
.project-three {
  background: var(--third-color);
  height: 80%;
  border-radius: 20px;
  transition: transform 2s ease;
  overflow: hidden;
}
.img-one,
.img-two,
.img-three {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.project h3 {
  text-align: center;
  padding: 10px;
  color: var(--first-color);
}
.project p {
  padding: 20px;
  text-align: center;
  line-height: 1.5em;
  color: var(--first-color);
}
.project .visit {
  height: 50px;
  width: 35%;
  background: var(--second-color);
  color: var(--third-color);
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}
.project-one:hover,
.project-two:hover,
.project-three:hover {
  box-shadow: 0px 15px 25px rgb(37, 36, 36);
  transform: scale(1.02);
}

/* work */

.work {
  height: 90vh;
  width: 100%;
  background: var(--third-color);
  overflow: hidden;
}
.work h1 {
  text-align: center;
  padding: 13px;
  color: var(--second-color);
  margin: 30px;
}

.work-grid {
  height: 75vh;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  grid-gap: 45px;
}

.experience-one {
  height: 80%;
  border-radius: 20px;
  background: var(--first-color);
  transition: transform 2s ease;
  overflow: hidden;
}

.experience-two {
  background: var(--first-color);
  height: 80%;
  border-radius: 20px;
  transition: transform 2s ease;
  overflow: hidden;
}

.experience-three {
  background: var(--first-color);
  height: 80%;
  border-radius: 20px;
  transition: transform 2s ease;
  overflow: hidden;
}
.work-img1,
.work-img2,
.work-img3 {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.work h3 {
  text-align: center;
  padding: 15px;
  color: var(--third-color);
}
.work p {
  text-align: center;
  padding: 20px;
  line-height: 1.5em;
  color: var(--third-color);
}
.work .work-cred {
  height: 50px;
  width: 40%;
  background: var(--second-color);
  color: var(--third-color);
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}
.experience-one:hover,
.experience-two:hover,
.experience-three:hover {
  box-shadow: 0px 15px 25px gray;
  transform: scale(1.02);
}

/* contact */

.contact {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  color: var(--third-color);
  background: var(--first-color);
}

.contactt {
  background: var(--second-color);
  height: 94vh;
  width: 98%;
  margin: 3vh auto;
  border-radius: 30px;
}

.contactt h1 {
  text-align: center;
  padding-top: 50px;
  animation: wholebox 2s forwards;
}

.contact1 {
  text-align: center;
  margin-top: 5vh;
  animation: wholebox 2s forwards;
}

.contact1 li {
  list-style-type: none;
  display: inline-block;
}

.contact1 li div {
  width: 150px;
  height: 78px;
  border-radius: 12px;
  padding: 7px;
}

.contact1 li div:hover {
  /* background: url(https://wallpaperaccess.com/full/133891.jpg); */
  background: var(--first-color);
}

.contact1 a {
  text-decoration: none;
  color: var(--third-color);
}

.contact2 {
  height: 60vh;
  width: 35%;
  /* background: url(https://wallpaperaccess.com/full/133891.jpg); */
  margin: 5vh auto;
  border-radius: 12px;
  animation: wholebox 2s forwards;
  background: var(--third-color);
}

.contact2 h2 {
  color: black;
  padding-left: 20px;
  padding-top: 7px;
}

form {
  margin-top: 20px;
  width: 100%;
}
form > input {
  width: 90%;
}

label {
  color: black;
  padding-left: 20px;
}

input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 5px;
}

.input3 {
  height: 15vh;
}

.div-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.submit {
  /* margin:20px auto; */
  width: 160px;
  height: 60px;
  /* margin-top: 20px;
    margin-left: 180px; */
  background: var(--first-color);
  color: var(--third-color);
  border-radius: 12px;
  border: none;
  font-size: 1em;
}

/* loader */
.loader {
  width: 100%;
  height: 100vh;
  z-index: 100;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader span {
  padding: 8px;
  background-color: #fff;
}

#root {
  display: none;
}
